/* Ajoutez vos styles personnalisés ici */

/* Style pour la section du tableau */
.table-responsive {
    overflow-x: auto;
}

/* Style pour les en-têtes de tableau */
.table th {
    font-weight: bold;
    vertical-align: middle;
}

/* Style pour les lignes de tableau */
.table td {
    vertical-align: middle;
}

/* Style pour les lignes de tableau au survol */
.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* Style pour les en-têtes de tableau foncés */
.table-dark th {
    background-color: #212529;
    color: #fff;
}

/* Style pour les liens dans le tableau */
.table a {
    text-decoration: none;
    color: #007bff;
}

/* Style pour les liens au survol */
.table a:hover {
    text-decoration: underline;
    color: #0056b3;
}